extends layout.pug 

block content



  .container 
    if errornull 
        p.error Fields cannot be empty
    else if errorlength 
        p.error You cannot exceed the maximum length of title and description
    if success 
        p.success It has been successfully submitted
    form.form(action=id ? `/${id}/update` : "/create" method ='POST')
      h1  Create a review 

      


      label Add a title 
      input.input(type="text" name='title' value=title)

      label Description 
      textarea.input(type ="text" name ="description"  data-value=description ).description

      label  Rating 
      input.input(type="number" name='rating' min = "1" max="10" value=rating)

      button.btn Create Review

 

   

